<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="icon" href="/static/homepage_user/images/icons/favicon.png"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="text-center">
        <h1 class="display-4">Oops, something went wrong!</h1>
        <p class="lead">We're sorry, but an unexpected error has occurred.</p>
        <a href="/rent-car" class="btn btn-primary">Go to Home</a>
    </div>
</div>
</body>
</html>
